<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>Form ID: {{ questions.key }} Label: {{ questions.label }}</p>
    <!-- <p *ngFor="let q of questions.questions">{{ q.questions |json }}</p> -->
    <div *ngFor="let q of questions.questions">
      <app-dynamic-question [question]="q" [form]="form" (valueChanged)="onSubmit($event)"></app-dynamic-question>
    </div>
    <!-- <fieldset formGroupName="section01">
      <input type="text" formControlName="artifactField">
    </fieldset> -->
    <button class="btn btn-primary" type="submit" >Submit</button>
  </form>
</div>

<!-- <div *ngFor="let q of questions.questions">
  {{ q.key }}
  <div *ngFor="let r of q.questions">
    - {{ r.key }}
    <div *ngIf="r.controlType === 'group'">
      <div *ngFor="let s of r.questions">
        - - {{ s.key }}
      </div>
    </div>  
    <div *ngIf="r.cascade">
      <div *ngFor="let t of r.cascadeGroups">
        - - - {{ t.questions.key }}
        <div *ngFor="let u of t.questions.questions">
          - - - - {{ u.key }}
        </div>
      </div>
    </div>
  </div>
</div> -->