<div>
  <form [formGroup]="form">
    <p>Form ID: {{ questions.key }} Label: {{ questions.label }}</p>
    <p *ngFor="let q of questions.questions">{{ q.key }}</p>
    <app-form-group></app-form-group>
    <fieldset formGroupName="section01">
      <input type="text" formControlName="artifactField">
    </fieldset>
  </form>
</div>

<!-- <div *ngFor="let q of questions.questions">
  {{ q.key }}
  <div *ngFor="let r of q.questions">
    - {{ r.key }}
    <div *ngIf="r.controlType === 'group'">
      <div *ngFor="let s of r.questions">
        - - {{ s.key }}
      </div>
    </div>
    <div *ngIf="r.cascade">
      <div *ngFor="let t of r.cascadeGroups">
        - - - {{ t.questions.key }}
        <div *ngFor="let u of t.questions.questions">
          - - - - {{ u.key }}
        </div>
      </div>
    </div>
  </div>
</div> -->